body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
    color: #07173D;
}

a {
    text-decoration: none;
    /*color: #07173D;*/
}

/*a:hover {*/
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

h1, h2 {
    font-weight: 500;
    text-align: center;
}

header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

/* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}

header div {
    flex-grow: 1;
    line-height: 0.9;
}

.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

/* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
}


/*.ok {*/
    /*padding: 10px 20px;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
    /*background-color: #afe954;*/
/*}*/
/*.error {*/
    /*padding: 10px 20px;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
    /*background-color: #c93a5b;*/
    /*font-weight: bolder;*/
/*}*/

form[name="url_form"] {
    width: 50%;
    margin: 0 auto;

    /*display: grid;*/

    /*grid-template-rows: repeat(12, 35px);*/
    /*grid-row-gap: 8px;*/
}

form[name="url_form"] input {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
}

form[name="url_form"] input[type="text"] {
    width: 350px;
    margin-right: 10px;
}
form[name="url_form"] input[type='submit'] {
    /*width: 350px;*/
    background-color: rgba(42, 69, 134, 1);
    letter-spacing: 1px;
    color: #ffffff;
    border: none;
}

form[name="url_form"] input[type='submit']:hover {
    cursor: pointer;
    background-color: rgba(42, 69, 134, 0.85);

}

.back {
    text-align: end;
    margin: 10px 25px;
}
.back a {
    display: inline-block;
    padding: 7px 25px;

    color: #ffffff;
    letter-spacing: 1px;

    background-color: #07173D;
}
.back a:hover {
    background-color: rgba(7, 23, 61, 0.9);
}

#output {
    padding: 15px 25px;
    margin: 20px 0;

    overflow: hidden;

    background-color: #f3f7fd;
}

.link-type {
    font-style: italic;
    /*font-size: smaller;*/
}

.infoBlock {
    padding: 5px 15px;
    margin: 5px;
    border: 1px dotted rgba(7, 23, 61, 0.4);
}

/* F O O T E R */

footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}
